.button {
  background-color: transparent;
  border: none;
  bottom: 10px;
  cursor: pointer;
  padding: 0;
  position: fixed;
  right: 15px;
}

.button-background {
  height: 70px;
  width: 70px;
}

.plus-sign {
  position: absolute;
  width: 31.5px;
  height: 35.88px;
  left: 19px;
  top: 14px;
}