.item {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-family: 'SF Pro Text', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 20px 20px 16px 20px;
}

.item-number {
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  line-height: 34px;
  margin-right: 20px;
  position: relative;
  bottom: 23px;
}

.item-text {
  display: inline-block;
  width: 236px;
}

.description,
.url,
.votes-and-created-at {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  height: 18px;
  line-height: 21px;
  margin: 0 0 4px 0;
}

.url,
.votes-and-created-at {
  color: #9B9B9B;
  font-size: 12px;
  line-height: 16px;
}

.url {
  height: 14px;
  margin: 0 0 6px 0;
}

.votes-and-created-at {
  height: 16px;
  margin: 0;
}

.vote-button {
  background: transparent ;
  border: hidden;
  float: right;
  height: 34px;
  padding: 17px 0 0 0;
  width: 27px;
}

.vote-icon {
  color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
}